.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
